<div class="container">
    <div class="row">
        <div class="block-logo" class="block-block-content block-logo">
            <div class="body">
                <a href="/"><img src="../../../public/images/logo.png"></a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="topnav">
    <a id="login" href="views/login.php">Login</a>
    <a id="contact" href="views/contact.php">Contact</a>
    <a id="about" href="views/about.php">About</a>
    <a id="student" href="views/student.php">Student</a>
    <a id="company" href="views/company.php">Company</a>
    <a id="index" href="index.php">Home</a>
</div>

<link rel="stylesheet" href="../styles/header.css">
<script type="text/javascript" src="../scripts/header.js"></script>