<div class="container">
    <div class="row">
        <div class="block-logo" class="block-block-content block-logo">
            <div class="body">
                <a href="/"><img src="../../images/logo.png"></a>
            </div>
        </div>
    </div>
</div>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">Company</a>
    <a href="#contact">Student</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="#Login">Login</a>
</div>